{% extends 'base.html' %}
{% block title %}Графики{% endblock %}
{% block content %}

<table class="center" id="main">
  <tr> <td> {% include "registration/_global_filter.html" %}</td></tr>
  <tr id="attack-sources"> <td> {% include "registration/_attack_sources.html" %} </td> </tr>
  <tr id="attack-trend"> <td> {% include "registration/_attack_trend.html" %} </td> </tr>
  <tr id="multiple-targets"> <td> {% include "registration/_multiple_targets.html" %}</td></tr>
  <tr id="multiple-targets-summary"> <td> {% include "registration/_multiple_targets_summary.html" %}</td></tr>
</table>

{% endblock %}


{% block javascript %}

{% endblock %}