{% extends 'base.html' %}

{% block title %}Доклади{% endblock %}

{% load static %}
{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-12">
                <H1>Създаване на репорти</H1>
                <p>Можете да използвате предоставените връзки за да генерирате различни репорти. За удобство може да избирате между CSV и JSON.</p>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-12">
                <H1>България</H1>
                <p>Репорти на регионални атаки.</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="8">CSV</th>
                        </tr>
                        <tr>
                            <th colspan="2">24 Часа</th>
                            <th colspan="2">7 дни</th>
                            <th colspan="2">30 дни</th>
                            <th colspan="2">365 дни</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% url 'report_ips_csv' as reports_ips_csv %}
                            <td><a href="{{ reports_ips_csv }}?days=1&iso=BG"> Със статистика</a></td>
                            <td><a href="{{ reports_ips_csv }}?days=1&iso=BG&no_count"> Без статистика</a></td>
                            <td><a href="{{ reports_ips_csv }}?days=7&iso=BG"> Със статистика</a></td>
                            <td><a href="{{ reports_ips_csv }}?days=7&iso=BG&no_count"> Без статистика</a></td>
                            <td><a href="{{ reports_ips_csv }}?days=30&iso=BG"> Със статистика</a></td>
                            <td><a href="{{ reports_ips_csv }}?days=30&iso=BG&no_count"> Без статистика</a></td>
                            <td><a href="{{ reports_ips_csv }}?days=365&iso=BG"> Със статистика</a></td>
                            <td><a href="{{ reports_ips_csv }}?days=365&iso=BG&no_count"> Без статистика</a></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="8">JSON</th>
                        </tr>
                        <tr>
                            <th colspan="2">24 Часа</th>
                            <th colspan="2">7 дни</th>
                            <th colspan="2">30 дни</th>
                            <th colspan="2">365 дни</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% url 'report_ips_json' as report_ips_json %}
                            <td><a href="{{ report_ips_json }}?days=1&iso=BG"> Със статистика</a></td>
                            <td><a href="{{ report_ips_json }}?days=1&iso=BG&no_count"> Без статистика</a></td>
                            <td><a href="{{ report_ips_json }}?days=7&iso=BG"> Със статистика</a></td>
                            <td><a href="{{ report_ips_json }}?days=7&iso=BG&no_count"> Без статистика</a></td>
                            <td><a href="{{ report_ips_json }}?days=30&iso=BG"> Със статистика</a></td>
                            <td><a href="{{ report_ips_json }}?days=30&iso=BG&no_count"> Без статистика</a></td>
                            <td><a href="{{ report_ips_json }}?days=365&iso=BG"> Със статистика</a></td>
                            <td><a href="{{ report_ips_json }}?days=365&iso=BG&no_count"> Без статистика</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-12">
                <H1>Русия</H1>
                <p>Репорти на регионални атаки.</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="8">CSV</th>
                        </tr>
                        <tr>
                            <th colspan="2">24 Часа</th>
                            <th colspan="2">7 дни</th>
                            <th colspan="2">30 дни</th>
                            <th colspan="2">365 дни</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% url 'report_ips_csv' as reports_ips_csv %}
                            <td><a href="{{ reports_ips_csv }}?days=1&iso=RU"> Със статистика</a></td>
                            <td><a href="{{ reports_ips_csv }}?days=1&iso=RU&no_count"> Без статистика</a></td>
                            <td><a href="{{ reports_ips_csv }}?days=7&iso=RU"> Със статистика</a></td>
                            <td><a href="{{ reports_ips_csv }}?days=7&iso=RU&no_count"> Без статистика</a></td>
                            <td><a href="{{ reports_ips_csv }}?days=30&iso=RU"> Със статистика</a></td>
                            <td><a href="{{ reports_ips_csv }}?days=30&iso=RU&no_count"> Без статистика</a></td>
                            <td><a href="{{ reports_ips_csv }}?days=365&iso=RU"> Със статистика</a></td>
                            <td><a href="{{ reports_ips_csv }}?days=365&iso=RU&no_count"> Без статистика</a></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="8">JSON</th>
                        </tr>
                        <tr>
                            <th colspan="2">24 Часа</th>
                            <th colspan="2">7 дни</th>
                            <th colspan="2">30 дни</th>
                            <th colspan="2">365 дни</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% url 'report_ips_json' as report_ips_json %}
                            <td><a href="{{ report_ips_json }}?days=1&iso=RU"> Със статистика</a></td>
                            <td><a href="{{ report_ips_json }}?days=1&iso=RU&no_count"> Без статистика</a></td>
                            <td><a href="{{ report_ips_json }}?days=7&iso=RU"> Със статистика</a></td>
                            <td><a href="{{ report_ips_json }}?days=7&iso=RU&no_count"> Без статистика</a></td>
                            <td><a href="{{ report_ips_json }}?days=30&iso=RU"> Със статистика</a></td>
                            <td><a href="{{ report_ips_json }}?days=30&iso=RU&no_count"> Без статистика</a></td>
                            <td><a href="{{ report_ips_json }}?days=365&iso=RU"> Със статистика</a></td>
                            <td><a href="{{ report_ips_json }}?days=365&iso=RU&no_count"> Без статистика</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-12">
                <H1>Света</H1>
                <p>Репорти на международни атаки.</p>
                <p class="alert-warning">Ако желаете да генерирате доклади за определна държава - използвайте специфичен URL или се обърнете към програмиста</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="8">CSV</th>
                        </tr>
                        <tr>
                            <th colspan="2">24 Часа</th>
                            <th colspan="2">7 дни</th>
                            <th colspan="2">30 дни</th>
                            <th colspan="2">365 дни</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% url 'report_ips_csv' as reports_ips_csv %}
                            <td><a href="{{ reports_ips_csv }}?days=1"> Със статистика</a></td>
                            <td><a href="{{ reports_ips_csv }}?days=1&no_count"> Без статистика</a></td>
                            <td><a href="{{ reports_ips_csv }}?days=7"> Със статистика</a></td>
                            <td><a href="{{ reports_ips_csv }}?days=7&no_count"> Без статистика</a></td>
                            <td><a href="{{ reports_ips_csv }}?days=30"> Със статистика</a></td>
                            <td><a href="{{ reports_ips_csv }}?days=30&no_count"> Без статистика</a></td>
                            <td><a href="{{ reports_ips_csv }}?days=365"> Със статистика</a></td>
                            <td><a href="{{ reports_ips_csv }}?days=365&no_count"> Без статистика</a></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="8">JSON</th>
                        </tr>
                        <tr>
                            <th colspan="2">24 Часа</th>
                            <th colspan="2">7 дни</th>
                            <th colspan="2">30 дни</th>
                            <th colspan="2">365 дни</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% url 'report_ips_json' as report_ips_json %}
                            <td><a href="{{ report_ips_json }}?days=1"> Със статистика</a></td>
                            <td><a href="{{ report_ips_json }}?days=1&no_count"> Без статистика</a></td>
                            <td><a href="{{ report_ips_json }}?days=7"> Със статистика</a></td>
                            <td><a href="{{ report_ips_json }}?days=7&no_count"> Без статистика</a></td>
                            <td><a href="{{ report_ips_json }}?days=30"> Със статистика</a></td>
                            <td><a href="{{ report_ips_json }}?days=30&no_count"> Без статистика</a></td>
                            <td><a href="{{ report_ips_json }}?days=365"> Със статистика</a></td>
                            <td><a href="{{ report_ips_json }}?days=365&no_count"> Без статистика</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascript %}
{% endblock %}