{% extends 'base.html' %}

{% block title %}Таблици{% endblock %}

{% block content %}

  <div id="tables-daily">
    <div  id="tables-daily-filters" class="stat-sec-filters center">
      <div class="stat-sec-title"> Daily </div>
      <table>
        <tr>
          <td>
            <label for="tables-daily-filters-date"
                   class="filter-label"> Избор на ден: </label>
          </td>
          <td>
            <input
                class="datepicker"
                id="tables-daily-filters-date">
          </td>
        </tr>
      </table>

      <table class="filter-buttons">
        <tr>
          <td>
            <span id="tables-daily-filters-apply" class="button"
                  onclick="updateTablesDaily()"> Приложи </span>
          </td>
          <td>
            <span id="tables-daily-filters-clear" class="button"
                  onclick="clearFilters(['tables-daily-filters-date'])"> Изчисти </span>
          </td>
        </tr>
        <tr>
          <td><span onclick="exportTableToCSV('table-daily-value', 'daily.csv')" class="button"> Export to CSV </span>
          </td>
          <td>
            <span onclick="exportTableToExcel('table-daily-value', 'daily.xls')" class="button"> Export to Excel </span>
          </td>
        </tr>
      </table>
    </div>
    <div id="tables-daily-result"></div>

  </div>

  <div id="tables-simple">
    <div  id="tables-simple-filters" class="stat-sec-filters center">
      <div class="stat-sec-title"> Simple </div>
      <table>
        <tr>
          <td>
            <label for="tables-simple-filters-date"
                   class="filter-label"> Дата: </label>
          </td>
          <td>
            <input
                class="datepicker"
                id="tables-simple-filters-date">
          </td>
        </tr>
      </table>

      <table class="filter-buttons">
        <tr>
          <td>
            <span id="tables-simple-filters-apply" class="button"
                  onclick="updateTablesSimple()"> Приложи </span>
          </td>
          <td>
            <span id="tables-simple-filters-clear" class="button"
                  onclick="clearFilters(['tables-simple-filters-date'])"> Изчисти </span>
          </td>
        </tr>
        <tr>
          <td><span onclick="exportTableToCSV('table-simple-value', 'simple.csv')" class="button"> Export to CSV </span>
          </td>
          <td>
            <span onclick="exportTableToExcel('table-simple-value', 'simple.xls')" class="button"> Export to Excel </span>
          </td>
        </tr>
      </table>
    </div>
    <div id="tables-simple-result"></div>

  </div>

    <div id="tables-details">
    <div  id="tables-details-filters" class="stat-sec-filters center">
      <div class="stat-sec-title"> Details </div>
      <table>
        <tr>
          <td>
            <label for="tables-details-filters-startD"
                   class="filter-label"> Начална Дата: </label>
          </td>
          <td>
            <input
                class="datepicker"
                id="tables-details-filters-startD"
                onchange="setIfLess('tables-details-filters-startD', 'tables-details-filters-endD')">
          </td>
        </tr>
        <tr>
          <td>
            <label for="tables-details-filters-startD"
                   class="filter-label"> Крайна Дата: </label>
          </td>
          <td>
            <input
                class="datepicker"
                id="tables-details-filters-endD"
                onchange="setIfGreater('tables-details-filters-endD', 'tables-details-filters-startD')">
          </td>
        </tr>

        <tr>
          <td>
            <label for="tables-details-filters-resolution"
                   class="filter-label"> Резолюция: </label>
          </td>
          <td>
            <select class="select" id="tables-details-filters-resolution">
                <option value="day"> Ден </option>
                <option value="week" selected> Седмица </option>
                <option value="month"> Месец </option>
              </select>
          </td>
        </tr>
      </table>

      <table class="filter-buttons">
        <tr>
          <td>
            <span id="tables-details-filters-apply" class="button"
                  onclick="updateTablesDetails()"> Приложи </span>
          </td>
          <td>
            <span id="tables-details-filters-clear" class="button"
                  onclick="clearFilters([
                    'tables-details-filters-startD',
                    'tables-details-filters-endD'])"> Изчисти </span>
          </td>
        </tr>
        <tr>
          <td><span onclick="exportTableToCSV('table-details-value', 'details.csv')" class="button"> Export to CSV </span>
          </td>
          <td>
            <span onclick="exportTableToExcel('table-details-value', 'details.xls')" class="button"> Export to Excel </span>
          </td>
        </tr>
      </table>
    </div>
    <div id="tables-details-result"></div>

  </div>
{% endblock %}


{% block javascript %}

{% endblock %}