{% block title %}Опростен таблица{% endblock %}
<table class="tables-rows" id="table-simple-value">
  <tr class="column-title">
    <td></td>
    <td colspan="2"> {{ date24h.start }} - {{ date24h.end }}</td>
    <td colspan="2"> {{ date7d.start }} - {{ date7d.end }}</td>
    <td colspan="2"> {{ date30d.start }} - {{ date30d.end }}</td>
  </tr>
  <tr>
    <td></td>
    <td colspan="2"> 24 часа </td>
    <td colspan="2"> 7 дена </td>
    <td colspan="2"> 30 дена </td>
  </tr>
  <tr>
    <td></td>
    <td> Всички </td>
    <td> България </td>
    <td> Всички </td>
    <td> България </td>
    <td> Всички </td>
    <td> България </td>
  </tr>
  {% for target in all_targets %}
    <tr>
     <td> {{ target }}</td>
      {% if target in summary24h %}
        <td> {{ summary24h|keyvalue:target|keyvalue:"total" }}</td>
        <td> {{ summary24h|keyvalue:target|keyvalue:"domestic" }} </td>
      {% else %}
        <td> 0 </td>
        <td> 0 </td>
      {% endif %}
      {% if target in summary7d %}
        <td> {{ summary7d|keyvalue:target|keyvalue:"total" }}</td>
        <td> {{ summary7d|keyvalue:target|keyvalue:"domestic" }} </td>
      {% else %}
        <td> 0 </td>
        <td> 0 </td>
      {% endif %}

      {% if target in summary30d %}
        <td> {{ summary30d|keyvalue:target|keyvalue:"total" }}</td>
        <td> {{ summary30d|keyvalue:target|keyvalue:"domestic" }} </td>
      {% else %}
        <td> 0 </td>
        <td> 0 </td>
      {% endif %}
    </tr>
  {% endfor %}
  <tr class="summary">
    <td> </td>
    <td> {{ total|keyvalue:"summary24h"|keyvalue:"total"}} </td>
    <td> {{ total|keyvalue:"summary24h"|keyvalue:"domestic"}} </td>
    <td> {{ total|keyvalue:"summary7d"|keyvalue:"total"}} </td>
    <td> {{ total|keyvalue:"summary7d"|keyvalue:"domestic"}} </td>
    <td> {{ total|keyvalue:"summary30d"|keyvalue:"total"}} </td>
    <td> {{ total|keyvalue:"summary30d"|keyvalue:"domestic"}} </td>

  </tr>
</table>