{% block title %}Дневна таблица{% endblock %}
{% if has_data %}

<table id="table-daily-value">
  <tr>
    {% for target, data in table_data.items %}
      <td class="tables-target">
        <table class="tables-rows">
          <tr class="column-title">
            <td colspan="5" class="tables-target-title"> {{ target }}</td>
          </tr>
          <tr>
            <td rowspan="2"> Дата</td>
            <td rowspan="2"> Всички Атаки</td>
            <td colspan="3"> България</td>
          </tr>
          <tr>
            <td> Атаки</td>
            <td> IP</td>
            <td> Брой</td>
          </tr>
          <tr>
            <td class="summary">
              {{ date }}
            </td>
            <td class="summary">
              {{ data.all_attacks }}
            </td>
            <td class="summary">
              {{ data.bg_attacks }}
            </td>
            <td>
              {{ data.top_ip }}
            </td>
            <td>
              {{ data.top_count }}
            </td>
          </tr>
          {% for count, ip in data.rest_top_ips %}
            <tr>
              <td> </td> <td> </td> <td> </td> <td> {{ ip }} </td> <td> {{ count }} </td>
            </tr>
          {% endfor %}
        </table>
      </td>
    {% endfor %}
  </tr>
</table>
{%  else %}
  <div> Няма данни за {{ date }}</div>
{% endif %}