# T-Pot Light config file. Do not remove.

# Set Web username and password here, only required for first run
#  Removing the password after first run is recommended
#  You can always add or remove users as you see fit using htpasswd:
#  htpasswd -b -c /<data_folder>/nginx/conf/nginxpasswd <username> <password>
WEB_USER=changeme
WEB_PW=changeme

# T-Pot Blackhole
#  ENABLED: T-Pot will download a db of known mass scanners and nullroute them
#           Be aware, this will put T-Pot off the map for stealth reasons and
#           you will get less traffic. Routes will active until reboot and will
#           be re-added with every T-Pot start until disabled.
#  DISABLED: This is the default and no stealth efforts are in place.
TPOT_BLACKHOLE=DISABLED

###################################################################################
# NEVER MAKE CHANGES TO THIS SECTION UNLESS YOU REALLY KNOW WHAT YOU ARE DOING!!! #
###################################################################################

# T-Pot Landing page provides Cockpit Link
COCKPIT=false

# docker.sock Path
TPOT_DOCKER_SOCK=/var/run/docker.sock

# docker compose .env
TPOT_DOCKER_ENV=./.env

# Docker-Compose file
TPOT_DOCKER_COMPOSE=./docker-compose.yml

# T-Pot Repo
TPOT_REPO=dtagdevsec

# T-Pot Version Tag
TPOT_VERSION=2204

# T-Pot Pull Policy
#  always: (T-Pot default) Compose implementations SHOULD always pull the image from the registry.
#  never: Compose implementations SHOULD NOT pull the image from a registry and SHOULD rely on the platform cached image.
#  missing: Compose implementations SHOULD pull the image only if it's not available in the platform cache.
#  build: Compose implementations SHOULD build the image. Compose implementations SHOULD rebuild the image if already present.
TPOT_PULL_POLICY=always

# T-Pot Data Path
TPOT_DATA_PATH=./data

# OSType (linux, mac, win)
#  Most docker features are available on linux
TPOT_OSTYPE=linux
